body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

.form-wrapper {
  padding: 2rem;
}
.card-front {
  grid-row: 1/3;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgb(209, 209, 209);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(9, 9, 9, 0.3);
}
.card-back {
  grid-row: -4/-1;
  grid-column: -3/-1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  background-color: rgb(209, 209, 209);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(9, 9, 9, 0.3);
}

#cvv {
  width: 22%;
}

.cvv-field {
  grid-row: 3/4;
  grid-column: -2/-1;
  justify-self: left;
  
}

.card-form {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  gap: 1rem;
  position: relative;
  align-items: left;
}

.card-header {
  grid-row: 1/2;
  grid-column: 1/3;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.card-number-field {
  grid-row: 2/3;
  grid-column: 1/2;
}

.card-details-row {
  grid-row: 3/4;
  grid-column: 1/2;
}

#cardExpiration {
  grid-row: 3/4;
  grid-column: 2/3;
  width: 10%;
  display: inline;
}

#month, #year {
  width: 8%;
  display: inline-block;
}

.total {
  font-weight: bold;
}

.chip {
  justify-self: end;
  border-radius: 5px;
  font-size: 2rem;
  margin-left: 80%;
}

.chip, .total {
  display: inline;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card-details-row {

  gap: 1rem;
  margin-top: 1rem;
}

.magnetic-strip {
  grid-row: 1/2;
  grid-column: 1/3;
  height: 50%;
  background-color: #333;
  margin-bottom: 1rem;
  margin-top: 0.5rem;;
  border-radius: 4px;
}

.submit-button {
  grid-row: 4/5;
  grid-column: 3/4;
  width: 80px;
  height: 40px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 5px;
  background: rgb(227, 226, 226);
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(9, 9, 9, 0.3);
}
