:root {
--primary-color: #1B98E0;
--secondary-color: #59c3c3;
--text-dark: #101010;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: "Amatic SC";
}

body {
    font-family: var(--primary-font);
    background-color: white;
    color: var(--text-dark);
}

/* Header */
header {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-bar {
    display: flex;
    align-items: center;
}

.top-bar h1 {
    color: var(--text-dark);
    font-family: var(--secondary-font);
    font-size: 4rem;
    font-weight: 700;
}

.top-bar img.logo {
    height: 100px;
    margin-right: 10px;
}

/* Search Bar */
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.search-label {
    font-weight: 700;
    margin-bottom: 5px;
}

.search-box {
    display: flex;
    align-items: center;
    width: 80%;
    background: white;
    border-radius: 10px;
    border: 2px solid #101010;
    overflow: hidden;
}

.search-box input {
    width: 100%;
    padding: 10px;
    border: none;
    border-right: 2px solid #101010;
    outline: none;
    font-size: 1em;
}

.search-box button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.search-box img {
    width: 25px;
    height: 25px;
}

hr {
    border: 1.75px solid #e2dfdf;
    width: 80%;
    margin-top: 15px;
}

/* Recipe Section */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid black;
    width: 72%;
}

.recipe img {
    border-radius: 5px;
    max-width: 98%;
}

.recipe-details {
    text-align: left;
    margin-top: 10px;
    align-items: flex-end;
}

.recipe-details h1 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 2em;
    font-weight: bolder;
    margin: 0;
}

.category {
    background: rgb(243, 243, 243);
    color: black;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(156, 156, 156);
    font-size: 0.8em;
    display: inline-block;
    margin-bottom: 20px;
}

/* Hide description on small screens */
.recipe-details p {
    display: none;
}

/* Rating */
.rating {
    display: flex;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.icon-star {
    color: gold;
    align-self: center;
}

.icon-star-empty {
    color: #1a1a1a;
    font-size: 1.5em;
    align-self: flex-end;
    margin-bottom: 0;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 1.25em;
    font-weight: bold;
}

/* Social Icons */
.social a {
    margin: 0;
}

.social img {
    width: 40px;
    height: 40px;
}

@media (min-width: 650px) {

    /* Recipe flips to row layout */
    .recipe {
        flex-direction: row;
        justify-content: left;
        width: 78%;
    }

    .recipe img {
        width: 45%;
        height: auto;
    }

    .recipe-details {
        margin-top: 0;
        margin-left: 15px;
        font-size: 0.8em;
        font-weight: bold;
    }

    .category {
        order: -1;
        margin-bottom: 15px;
    }

    .recipe-details h1 {
        margin-bottom: 5px;
    }

    .recipe-details p {
        display: block;
    }

    footer {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        font-size: 1.25em;
        padding-left: 10%;
        padding-right: 10%;
    }

    .social {
        display: flex;
        flex-direction: row;
    }
}