/* ===== Dark mode ===== */

body.dark {
  background-color: #333;
}

body.dark .content {
  background-color: #333;
  border-color: white;
  color: white;
}

body.dark .title h2 {
  color: #4c9fd4;
  border-bottom-color: white;
}


/* Body styling */
body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", serif;
  font-size: 30px;
  line-height: 1.7;
  font-weight: 500;
  background-color: white;
  color: black;
}

/* Content styles */
.content {
  max-width: 600px;
  margin: 2rem auto;
  padding: 3rem 4rem;
  border: 1px solid #ddd;
  background-color: white;
}

/* Button */
#theme-selector {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
  padding: 0.4rem 0.6rem;
  font-size: 0.9rem;
}

/* Header */
.title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title h1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.title h2 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 1px solid #ccc;
  color: #238ed5;
}

/* Main content */
main p {
  font-size: 1rem;
  margin: 1.25rem 0;
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

main p em {
  font-style: italic;
}

.does-list {
  list-style-type: decimal;
  font-size: 1rem;
  max-width: 500px;
  margin: 1.5rem auto;
  padding: 0rem 5rem 1.5rem 5rem;
  text-align: left;
}

.does-list li {
  margin-bottom: 1.5rem;
}

/* Footer */
footer .logo {
  display: block;
  margin: 2rem auto 1rem;
  max-width: 150px;
  height: auto;
}
