@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #473144;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Lora', serif;
  color: #AF1B3F;
}

h1 {
  font-family: 'Lora', serif;
  color: #473144;
}

/* Header */

header {
  background-color: #f9f9f9;
  padding: 20px 0px 60px 0px;
  text-align: center;
  border-bottom: 2px solid #EFC69B;
  margin-left: 20px;
  margin-right: 20px;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
    padding-bottom: 10px;
  }

nav {
    border-top: 2px solid #EFC69B;
    border-bottom: 2px solid #EFC69B;
    margin: 0 auto;
    text-align: right;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

nav li {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 20px 20px 20px 0px;
  color: #AF1B3F;
}

nav li:hover {
  color: #473144;
}

main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding-bottom: 20px;
}

/* Right column */
.rating {
  grid-column: 2;
  margin-right: 40px;
  text-align: right;
}

.rating article p {
  font-size: 0.8rem;
  font-weight: bold;
}

/* Left column */
.book {
  text-align: center;
  align-items: center;
  padding-left: 20px;
}

.book article {
  align-items: center;
  width: 100%;
  text-align: center;
}

.book article h2 {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}

.book article p {
  font-weight: bold;
  text-align: left;
}

.book img {
  width: 50%;
  height: auto;
  border: 2px solid #EFC69B;
  margin: 0;
}

.book,
.rating {
  min-width: 0;
}

.skiptocontent a {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #EFC69B;
  color: #473144;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  z-index: 100;
  transition: top 0.3s ease;
}

.skiptocontent a:focus {
  top: 0;
}

footer {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #f9f9f9;
  border-top: 2px solid #EFC69B;
  font-size: 0.9rem;
}

@media (min-width: 600px) {
  header {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  border-bottom: none
  }
  main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom:20px;
  }
  
  .rating {
    grid-column: 1;
    padding: 20px;
    text-align: right;
    border-right: #EFC69B 2px solid;
  }

  .rating article p {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .book {
    padding-right: 20%;
  }
  .book article {
    grid-column: 2;
  }

  .book article h2 {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: left;
  }
  .book img {
    width: 40%;
    height: auto;
    border: 2px solid #EFC69B;
    margin: 0;
  }

  .book article p {
    font-weight: bold;
    text-align: left;
    font-size: 1rem;
  }
}